@model IEnumerable<Blinger.MVC.Data.Airport>

@{
    ViewData["Title"] = "Index";
}

<body class="FlightIndex">
    <div class="">

        
        <p class="CreateNewAirpots">
            <a asp-action="Create" class="btn DeleteButton" id="div1">Create New</a>
        </p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Airport
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Airport_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>